# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
bower_components

# Temp directories
public/src/content/.spellchecked
.tmp
.gulp

# Dist
public/dist

# Config
config.json
config.js

# PHP tools for now
public/src/php
