# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
bower_components
_bower_components

# Temp directories
public/src/content/.spellchecked
.tmp
.gulp

# Dist
public/dist
build

# Config
safe-words.json

# PHP tools for now
public/src/php

# Random copy of old gulpfile
gulpfile-old.js
