// Import bootstrap and fontawesome
@import "variables";
@import "bootstrap";
@import "font-awesome";


/* GLOBAL STYLES
   -------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* TOP TRUCKING */
#bighead {
  margin-bottom: 2rem;
  background-color: $orange; // Old browsers
  padding: 0 0 5rem;
  background: linear-gradient(to top, $orange, $orange_lighter);
  // background: linear-gradient(to top, $blueish, $blueish_lighter);

  .navbar-wrapper {
    margin-bottom: 5rem;
  }

  .title-top {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px; 

    h1 {
      margin: 0 auto 1rem;
      color: $white;
      text-transform: uppercase;
      font-size: 4rem;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      i {
        display: block;
        font-size: 10rem;
      }
      span {
        display: block;
        font-size: 2rem;
        text-transform: none;
        font-weight: normal;
      }
    }

    p {
      font-size: 2rem;
      color: $white;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }

  }
}


/* MARKETING CONTENT
   -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
   ------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
   -------------------------------------------------- */

@media (min-width: 768px) {
  #bighead {
    .title-top { 
      width: 600px; 
    }
  }
  /* Navbar positioning foo */
  // .navbar-wrapper .container {
  //   padding-right: 15px;
  //   padding-left: 15px;
  // }
  // .navbar-wrapper .navbar {
  //   padding-right: 0;
  //   padding-left: 0;
  // }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    // border-radius: 4px;
  }

  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

}
