section.summary
  .jumbotron
    .container
      .row
        .col-md-8.col-md-offset-2
          p= summary
            a.about-me(href="#about") Read more about me 
              i.fa.fa-chevron-right
